.testmonials {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 30px 0;
  width: 100vw;
  height:100vh;
}

.testmonials .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap; 
  padding: 0 10px; 
  box-sizing: border-box; 
 
  height: 100vh;
}

.testmonials h1 {
  font-size: 50px;
  margin-bottom: 40px;
}
.testmonials .card {
  width: 280px;
  height: 280px; 
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .testmonials h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .testmonials .card {
    width: 300px;
    height: 210px; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    text-align: center;
  }
}



@media only screen and (max-width: 768px) {
  .testmonials .card {
    width: 90%;
    
  }
}

.testmonials .card.featured {
  border: 2px solid crimson;
}

.testmonials .card:hover {
  transform: scale(1.05);
}

.testmonials .top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.testmonials .top .user {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 10px;
}

@media only screen and (max-width: 768px) {
  .testmonials .top .user {
    width: 40px;
    height: 40px;
  }
}

.testmonials .top .right {
  width: 25px;
  height: 25px;
}

.center {
  max-width: 100%;
  font-size: 18px;
  line-height: 1.5;
  background-color: #f5dede9a;
  padding: 12px;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .testmonials .center {
    font-size: 12px;
  }
}

.testmonials .bottom {
  text-align: center;
}

.testmonials .bottom h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
  .testmonials .bottom h3 {
    font-size: 16px;
  }
}

.testmonials .bottom h4 {
  font-size: 14px;
  color: gray;
}

@media only screen and (max-width: 768px) {
  .testmonials .bottom h4 {
    font-size: 12px;
  }
}
